extends layout

block content
  h1= title
  p Welcome to #{title}
  p.hide=JSON.stringify(persons)
  p
    a(href="/p/new") New
  table
    tr
      th N
      th Name
      th Age
      th Options
    - persons.forEach(function(v,i){
    tr
      td=i
      td=v.name
      td #{v.age} years
      td
        a(href="/p/edit/"+v._id) Edit
        span &nbsp;
        a(href="/p/delete/"+v._id) Delete
    - });
